@model PhotoSharingApp.Model.Photo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<div>
    <div style="padding-bottom:1%">
        <h2 style="border-bottom:2px solid black;background-repeat: no-repeat;
    background-attachment: fixed;">
            Create New Photo
        </h2>

    </div>
    @using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)

                </td>
                <td>
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PhotoFile)

                </td>
                <td>
                    <input type="file" name="Image" />
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Owner)
                </td>
                <td>
                    @Html.EditorFor(model => model.Owner)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreatedDate)
                </td>
            </tr>
        </table>

            <p>
                <input type="submit" value="Create" />
                @Html.ActionLink("Back to List", "Index")
            </p>
    }
</div>

</body>
</html>
